# Import Library

In [81]:
import pandas as pd
import datetime
import calendar
import re

# Panggil Data

In [82]:
data = pd.read_csv('./data/Hasil Tes SBK LPDP Gelombang I - 2021 (Responses) - Form Responses 1.csv',skipinitialspace = True)
data.head()

,Timestamp,Jenis Beasiswa,Tingkat Pendidikan yang Dituju,Negara Tujuan Kuliah,Bidang Studi yang dipilih saat mendaftar,Mendaftar dengan menggunakan LoA sesuai ketentuan LPDP,Apakah anda dinyatakan Lulus Seleksi Substansi Akademik Pada gelombang I Tahun 2021?,Jumlah Jawaban Benar pada Tes Penalaran Verbal,Jumlah Jawaban Benar pada Tes Kuantitatif,Jumlah Jawaban Benar pada Tes Pemecahan Masalah,[optional] Kampus/universitas tujuan saat ini (pilihan 1)
0,6/24/2021 15:54:15,Targeted,S2,Dalam negeri,TRP,Tidak,Ya,10,12,6,Universitas Indonesia
1,6/24/2021 15:54:22,Reguler,S2,Luar Negeri,ENE,"Ya, dengan Loa",Ya,17,22,8,UCL
2,6/24/2021 15:54:54,Targeted,S2,Luar Negeri,ELE,"Ya, dengan Loa",Ya,16,18,7,KTH Sweden
3,6/24/2021 15:56:06,Reguler,S2,Dalam negeri,LIN,Tidak,Tidak,15,12,4,UGM
4,6/24/2021 15:56:28,Afirmasi,S2,Luar Negeri,LIN,Tidak,Ya,16,9,7,University of Birmingham

# Check Duplikasi Data

<p style="font-size:24px">Dapat dilihat dari baris kode dibawah bahwa dataset tidak memiliki baris yang terduplikasi</p>

In [83]:
duplicatedDataCount = data.duplicated().sum()
print(f'Jumlah data yang terduplikasi adalah sebanyak = {duplicatedDataCount}')

Jumlah data yang terduplikasi adalah sebanyak = 0

# Nomor 1

<p style="font-size:24px">Eksplorasi Kolom terakhir saya taruh di bagian Check Data Null</p>

[Klik untuk menuju bagian Check Data Null](#another_cell)

![Alt text](./images/no1.png)

## Eksplorasi kolom Timestamp

<p style="font-size:24px">Saya memutuskan hanya untuk mengambil bulan dan tahun dari kolom Timestamp</p>

In [84]:
timestamp = data["Timestamp"]
newTimeStamp = []
for dates in timestamp:
	datem = datetime.datetime.strptime(dates, "%m/%d/%Y %H:%M:%S")
	newTimeStamp.append(str(calendar.month_name[datem.month]+" "+str(datem.year)).strip())
data["Timestamp"] = newTimeStamp
data.head()

,Timestamp,Jenis Beasiswa,Tingkat Pendidikan yang Dituju,Negara Tujuan Kuliah,Bidang Studi yang dipilih saat mendaftar,Mendaftar dengan menggunakan LoA sesuai ketentuan LPDP,Apakah anda dinyatakan Lulus Seleksi Substansi Akademik Pada gelombang I Tahun 2021?,Jumlah Jawaban Benar pada Tes Penalaran Verbal,Jumlah Jawaban Benar pada Tes Kuantitatif,Jumlah Jawaban Benar pada Tes Pemecahan Masalah,[optional] Kampus/universitas tujuan saat ini (pilihan 1)
0,June 2021,Targeted,S2,Dalam negeri,TRP,Tidak,Ya,10,12,6,Universitas Indonesia
1,June 2021,Reguler,S2,Luar Negeri,ENE,"Ya, dengan Loa",Ya,17,22,8,UCL
2,June 2021,Targeted,S2,Luar Negeri,ELE,"Ya, dengan Loa",Ya,16,18,7,KTH Sweden
3,June 2021,Reguler,S2,Dalam negeri,LIN,Tidak,Tidak,15,12,4,UGM
4,June 2021,Afirmasi,S2,Luar Negeri,LIN,Tidak,Ya,16,9,7,University of Birmingham

## Eksplorasi Kolom Beasiswa

<p style="font-size:24px">Tidak ada hal yang harus diubah dari kolom ini karena semua isi dari kolom ini sudah benar</p>

In [85]:
data["Jenis Beasiswa "].value_counts()

Reguler     260
Targeted    118
Afirmasi     93
Name: Jenis Beasiswa , dtype: int64

## Eksplorasi Kolom Tingkat Pendidikan yang Dituju

<p style="font-size:24px">Tidak ada hal yang harus diubah dari kolom ini karena isi dari seluruh kolom ini sudah benar</p>

In [86]:
data["Tingkat Pendidikan yang Dituju"].value_counts()

S2    415
S3     56
Name: Tingkat Pendidikan yang Dituju, dtype: int64

## Eksplorasi Kolom Negara Tujuan Kuliah

<p style="font-size:24px">Tidak ada hal yang harus diubah dari kolom ini karena isi dari kolom data ini sudah benar</p>

In [87]:
data["Negara Tujuan Kuliah"].value_counts()

Luar Negeri     257
Dalam negeri    214
Name: Negara Tujuan Kuliah, dtype: int64

## Eksplorasi Kolom Bidang Studi yang dipilih saat mendaftar

<p style="font-size:24px">Mengubah seluruh row menjadi UPPERCASE karena ada beberapa data yang seharusnya sama tetapi penulisan huruf kapital dan huruf kecil nya berbeda. Contoh: TRP dan trp</p>

In [88]:
data["Bidang Studi yang dipilih saat mendaftar"] = [i.upper() for i in data["Bidang Studi yang dipilih saat mendaftar"]]
data["Bidang Studi yang dipilih saat mendaftar"].value_counts()

TRP    111
BUS     55
PUB     23
SOS     16
FOR     16
      ...
TEK      1
MET      1
KES      1
ECT      1
FIN      1
Name: Bidang Studi yang dipilih saat mendaftar, Length: 72, dtype: int64

## Eksplorasi kolom Mendaftar dengan menggunakan LoA sesuai ketentuan LPDP

<p style="font-size:24px">Tidak ada hal yang harus diubah dari kolom ini karena value dari kolom ini sudah benar</p>

In [89]:
data["Mendaftar dengan menggunakan LoA sesuai ketentuan LPDP "].value_counts()

Tidak             334
Ya, dengan Loa    137
Name: Mendaftar dengan menggunakan LoA sesuai ketentuan LPDP , dtype: int64

## Eksplorasi Kolom Apakah anda dinyatakan Lulus Seleksi Substansi Akademik Pada gelombang I Tahun 2021?

<p style="font-size:24px">Tidak ada hal yang harus diubah dari kolom ini karena seluruh kolom ini isinya sudah benar yaitu "Ya" dan "Tidak"</p>

In [90]:
data["Apakah anda dinyatakan Lulus Seleksi Substansi Akademik Pada gelombang I Tahun 2021?"].value_counts()

Ya       347
Tidak    124
Name: Apakah anda dinyatakan Lulus Seleksi Substansi Akademik Pada gelombang I Tahun 2021?, dtype: int64

## Eksplorasi Jumlah Jawaban Benar pada Tes Penalaran Verbal

<p style="font-size:24px">Dapat dilihat dibawah bahwa seluru tipe data kolom ini sudah seharusnya yaitu integer dan tidak ditemukan data yang aneh sehingga tidak ada hal yang harus diubah dari kolom ini</p>

In [91]:
print(f'Tipe data dari kolom ini adalah {data["Jumlah Jawaban Benar pada Tes Penalaran Verbal"].dtypes}')
data["Jumlah Jawaban Benar pada Tes Penalaran Verbal"].value_counts()

Tipe data dari kolom ini adalah int64

16    71
15    70
14    58
17    56
18    53
13    51
12    36
19    22
11    14
20    13
10    10
8      5
9      4
21     2
22     2
7      1
6      1
0      1
23     1
Name: Jumlah Jawaban Benar pada Tes Penalaran Verbal, dtype: int64

## Jumlah Jawaban Benar pada Tes Kuantitatif

<p style="font-size:24px">Dapat dilihat dibawah bahwa seluru tipe data kolom ini sudah seharusnya yaitu integer dan tidak ditemukan data yang aneh sehingga tidak ada hal yang harus diubah dari kolom ini</p>

In [92]:
print(f'Tipe data dari kolom ini adalah {data["Jumlah Jawaban Benar pada Tes Kuantitatif"].dtypes}')
data["Jumlah Jawaban Benar pada Tes Kuantitatif"].value_counts()

Tipe data dari kolom ini adalah int64

15    53
14    38
17    38
16    37
13    37
12    33
18    32
11    25
19    24
20    24
7     23
9     21
10    18
8     18
22    14
21    13
23     8
6      7
24     3
5      2
0      1
2      1
25     1
Name: Jumlah Jawaban Benar pada Tes Kuantitatif, dtype: int64

## Jumlah Jawaban Benar pada Tes Pemecahan Masalah

<p style="font-size:24px">Dapat dilihat dibawah bahwa seluru tipe data kolom ini sudah seharusnya yaitu integer dan tidak ditemukan data yang aneh sehingga tidak ada hal yang harus diubah dari kolom ini</p>

In [93]:
print(f'Tipe data dari kolom ini adalah {data["Jumlah Jawaban Benar pada Tes Pemecahan Masalah"].dtypes}')
data["Jumlah Jawaban Benar pada Tes Pemecahan Masalah"].value_counts()

Tipe data dari kolom ini adalah int64

6     106
7      97
5      83
4      58
8      56
9      26
3      17
10     15
2       7
12      4
1       1
0       1
Name: Jumlah Jawaban Benar pada Tes Pemecahan Masalah, dtype: int64

# Check Data yang Null

<a id='another_cell'></a>

<p style="font-size:24px">Dapat dilihat dari baris kode dibawah bahwa kolom terakhir memiliki <strong>91</strong> baris kosong</p>

In [94]:
data.isnull().sum()

Timestamp                                                                                0
Jenis Beasiswa                                                                           0
Tingkat Pendidikan yang Dituju                                                           0
Negara Tujuan Kuliah                                                                     0
Bidang Studi yang dipilih saat mendaftar                                                 0
Mendaftar dengan menggunakan LoA sesuai ketentuan LPDP                                   0
Apakah anda dinyatakan Lulus Seleksi Substansi Akademik Pada gelombang I Tahun 2021?     0
Jumlah Jawaban Benar pada Tes Penalaran Verbal                                           0
Jumlah Jawaban Benar pada Tes Kuantitatif                                                0
Jumlah Jawaban Benar pada Tes Pemecahan Masalah                                          0
[optional] Kampus/universitas tujuan saat ini (pilihan 1)                               91
dtype: int64

<p style="font-size:24px">Agar kolom terakhir tidak di drop begitu saja, maka saya akan mengeksplorasi kolom terakhir tersebut sebelum memutuskan harus apa yang harus dilakukan terhadap kolom terakhir ini</p>

## Eksplorasi Kolom Terakhir

In [95]:
data[data["[optional] Kampus/universitas tujuan saat ini (pilihan 1)"].isnull()].head()

,Timestamp,Jenis Beasiswa,Tingkat Pendidikan yang Dituju,Negara Tujuan Kuliah,Bidang Studi yang dipilih saat mendaftar,Mendaftar dengan menggunakan LoA sesuai ketentuan LPDP,Apakah anda dinyatakan Lulus Seleksi Substansi Akademik Pada gelombang I Tahun 2021?,Jumlah Jawaban Benar pada Tes Penalaran Verbal,Jumlah Jawaban Benar pada Tes Kuantitatif,Jumlah Jawaban Benar pada Tes Pemecahan Masalah,[optional] Kampus/universitas tujuan saat ini (pilihan 1)
7,June 2021,Reguler,S2,Dalam negeri,TRP,Tidak,Ya,14,19,4,NaN
13,June 2021,Reguler,S2,Luar Negeri,HOS,"Ya, dengan Loa",Tidak,13,13,6,NaN
14,June 2021,Targeted,S2,Luar Negeri,STA,"Ya, dengan Loa",Ya,12,17,5,NaN
17,June 2021,Targeted,S2,Luar Negeri,DEV,"Ya, dengan Loa",Ya,13,14,3,NaN
19,June 2021,Reguler,S2,Luar Negeri,BUS,Tidak,Ya,15,21,6,NaN

In [96]:
data["[optional] Kampus/universitas tujuan saat ini (pilihan 1)"].value_counts()

UGM                               40
ITB                               25
UI                                21
UCL                               16
Universitas Indonesia             12
                                  ..
Universitas Tadulako               1
TU DELFT                           1
Universitas Malang                 1
UNNES                              1
Australian National University     1
Name: [optional] Kampus/universitas tujuan saat ini (pilihan 1), Length: 183, dtype: int64

### Remove White Spaces Pada Kolom Terakhir

In [100]:
lastCol = data["[optional] Kampus/universitas tujuan saat ini (pilihan 1)"] 
def removeWhiteSpace(val):
    val = val.strip()
    val = re.sub("\s\s+" , " ", val)
    return val
lastCol = lastCol.astype(str)
lastCol.apply(removeWhiteSpace)

0                                  UI
1                                 UCL
2                          KTH Sweden
3                                 UGM
4            University of Birmingham
                    ...
466                                UI
467                               nan
468                 Monash university
469                                UI
470    Australian National University
Name: [optional] Kampus/universitas tujuan saat ini (pilihan 1), Length: 471, dtype: object

### Membenarkan Typo Pada Kolom Terakhir

In [101]:
lastCol.replace(
    {"ui":"UI",
    "Universitas Indonesia":"UI",
    "UNIVERSITAS INDONESIA":"UI",
    "universitas indonesia":"UI",
    "Universitas Negeri Yogyakarta":"UNY",
    "Ugm": "UGM",
    "ugm":"UGM",
    "Itb":"ITB",
    "Institut Teknologi Bandung":"ITB",

    }, inplace=True)

In [103]:
lastCol = lastCol.replace(["ui","Universitas Indonesia","UNIVERSITAS INDONESIA","universitas indonesia"], "UI")
lastCol = lastCol.replace("Universitas Negeri Yogyakarta","UNY")

In [ ]:
data["[optional] Kampus/universitas tujuan saat ini (pilihan 1)"].value_counts()

nan                               91
UGM                               45
UI                                35
ITB                               27
UCL                               16
                                  ..
Bournemouth University             1
UAL                                1
NTU Singapore                      1
Kth                                1
Australian National University     1
Name: [optional] Kampus/universitas tujuan saat ini (pilihan 1), Length: 176, dtype: int64

# Melihat Summary Dataset

In [ ]:
data.describe()

,Jumlah Jawaban Benar pada Tes Penalaran Verbal,Jumlah Jawaban Benar pada Tes Kuantitatif,Jumlah Jawaban Benar pada Tes Pemecahan Masalah
count,471.000000,471.000000,471.000000
mean,15.135881,14.477707,6.174098
std,2.726272,4.362684,1.825192
min,0.000000,0.000000,0.000000
25%,13.000000,12.000000,5.000000
50%,15.000000,15.000000,6.000000
75%,17.000000,18.000000,7.000000
max,23.000000,25.000000,12.000000

In [ ]:
numericalData = data.select_dtypes(include=['int64', 'float64'])
categoricalData = data.select_dtypes(include=['object', 'bool'])